# TELCO CHURN ANALYSIS

## Hypothesis

Null Hypothesis: There is no relationship between the monthly charges and the churn of customers.

Alternate Hypothesis: There is a relationship between the monthly charges and the churn of customers.

## Analytical Questions

1. What is the overall churn rate of the telecommunication network?
2. What is the average monthly spending of churn customers compared to non-churn customers?
3. What percentage of the top 100 most charged customers churned?
4. What is the rate of churning of customers without online security?
5. What is the rate of churning of customers without online backup?
6. What is the rate of churning of customers without device protection?
7. What is the rate of churning of customers without Tech support?
8. How does the absence of online security, online backup, device protection and Tech support add up to lead to churning?
9. Does the length of a customer's contract affect their likelihood of churn?
10. How does the customer's tenure affect their likelihood of churn?
11. How many male customers who have partners and dependents with high monthly charges churned?

In [2]:
# Importing the needed packages.

import pyodbc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

There are three datasets for this analysis which are located in three different places. The first dataset can be found on a SQL server and is to be accessed remotely. The second dataset can be found as an excel file on One Drive. The access link was provided and used to access and download the dataset. While the third dataset can be found as a csv file on a Github repository whose link was provided as well and used to clone the dataset into the local machine.

The first and last datasets have been identified as the train datasets, while the second dataset has been identifed as the test dataset. The train datasets will be assessed and merged together, and used to build models independently. While the test dataset will be used to test the models independently.

## Accessing the first dataset from SQL database

In [3]:
# Creating the server instance variable such as the server you are connecting to, database , username and password.
server = 'dap-projects-database.database.windows.net'
database = 'dapDB'
username = 'dataAnalyst_LP2'
password = 'A3g@3kR$2y'

# The connection string is an f string that includes all the variable above to extablish a connection to the server.
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# Using the connect method of the pyodbc library to pass in the connection string.

# N/B: This will connect to the server and might take a few seconds to be complete.
# Check your internet connection if it takes more time than necessary.

connection = pyodbc.connect(connection_string)

In [5]:
# The SQL query used to get the dataset is shown below. Note that you will not have permissions to insert delete
# or update this database table. dbo.LP2_Telco_churn_first_3000 is the name of the table. The dbo in front of the name 
# is a naming convention in Microsoft SQL Server.

query = "Select * from dbo.LP2_Telco_churn_first_3000"
df1 = pd.read_sql(query, connection)

df1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

## Accessing the last dataset

In [6]:
# Loading the last dataset.

df3 = pd.read_csv('LP2_Telco-churn-last-2000.csv')

In [7]:
# Displaying the first five rows of the last dataset.

df3.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [8]:
# Inspecting the columns of the first dataset.

df1.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [9]:
# Inspecting the columns of the last dataset.

df3.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [10]:
# Since both datasets have the same column names and index number, they can be concatenated to have the train dataset.

train_data = pd.concat([df1, df3])

# Saving the train dataset to a new csv file.
train_data.to_csv('Train-Data.csv')

train_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

## Accessing the second dataset (test dataset)

In [11]:
# Loading the test dataset.

test_data = pd.read_excel('Telco-churn-second-2000.xlsx')
test_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

## EDA

In [12]:
# Checking the number of rows and columns on the train dataset.

train_data.shape

(5043, 21)

In [13]:
# Checking the number of rows and columns on the test dataset.

test_data.shape

(2000, 20)

The train dataset has 5043 columns and 21 columns while the test dataset has 2000 rows and 20 columns. Let's identify the column in the train dataset that is absent in the test dataset.

In [14]:
# Inspecting the columns of the train dataset.

train_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [15]:
# Inspecting the columns of the test dataset.

test_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')

As can be seen, the test dataset has the same columns as the train dataset with the exception of the churn column which can be found on the train dataset alone. This is understandable as the churn column on the train dataset provides information on whether customers churn or  not, which is used to build the best ML model. This column is not needed on the test dataset, rather the model built is tested on the test dataset to check the ability of the model to predict whether a customet will churn or not.

In [16]:
# Checking the statistical data on the train dataset.

train_data.describe()

            tenure  MonthlyCharges
count  5043.000000     5043.000000
mean     32.576641       65.090214
std      24.529807       30.068133
min       0.000000       18.400000
25%       9.000000       35.775000
50%      29.000000       70.550003
75%      56.000000       90.050003
max      72.000000      118.650002

In [17]:
# Checking the statistical data on the test dataset.

test_data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    2000.000000  2000.000000     2000.000000
mean        0.161500    31.853000       63.933325
std         0.368084    24.632677       30.136858
min         0.000000     0.000000       18.250000
25%         0.000000     8.000000       34.250000
50%         0.000000    27.000000       69.800000
75%         0.000000    55.000000       89.275000
max         1.000000    72.000000      118.750000

In [18]:
# Checking the datatypes and the presence of missing values on the train dataset.

train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   object
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(1), object(19)
memory usage: 866.8+ KB

In [19]:
# Checking the datatypes and the presence of missing values on the test dataset.

test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

Note that the datatype of the 'SeniorCitizen' column is an object on the train data but an integer on the test data.

In [20]:
# Confirming the number of cells with missing values on each column of the train dataset.

train_data.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

The 'MultipleLines' column has 269 missing values. The 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV' and 'StreamingMovies' columns all have 651 missing values. This needs to be evaluated further to find out if these missing values are exactly on the same rows. The 'TotalCharges' column has 5 missing values while the 'Churn' column has 1 missing value.

In [21]:
# Confirming that there are no missing values on the test dataset.

test_data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

There are no missing values on the test dataset.

In [22]:
# Checking for the presence of duplicates on the train dataset.

train_data.duplicated().sum()

0

There are no duplicate rows on the train dataset.

In [23]:
# Checking for the presence of duplicates on the test dataset.

test_data.duplicated().sum()

0

There are no duplicate rows on the test dataset.

# Data Transformation

In [24]:
# Investigating the columns on the train dataset.

train_data.columns
for column in train_data.columns:
    print('column: {} - unique value: {}'.format(column, train_data[column].unique()))

column: customerID - unique value: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
column: gender - unique value: ['Female' 'Male']
column: SeniorCitizen - unique value: [False True]
column: Partner - unique value: [True False 'No' 'Yes']
column: Dependents - unique value: [False True 'No' 'Yes']
column: tenure - unique value: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
column: PhoneService - unique value: [False True 'Yes' 'No']
column: MultipleLines - unique value: [None False True 'No' 'No phone service' 'Yes']
column: InternetService - unique value: ['DSL' 'Fiber optic' 'No']
column: OnlineSecurity - unique value: [False True None 'No' 'Yes' 'No internet service']
column: OnlineBackup - unique value: [True False None 'No' 'Yes' 'No internet service']
column: DeviceProtection - unique value: [False True None 'No' 'Yes' 'No internet service']
column: TechSupport - unique value: [False True None 'Yes' 'No' 'No internet service']
column: StreamingTV - unique value: [False True None 'No' 'Yes' 'No internet service']
column: StreamingMovies - unique value: [False True None 'No' 'Yes' 'No internet service']
column: Contract - unique value: ['Month-to-month' 'One year' 'Two year']
column: PaperlessBilling - unique value: [True False 'Yes' 'No']
column: PaymentMethod - unique value: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
column: MonthlyCharges - unique value: [ 29.85000038  56.95000076  53.84999847 ...  78.7         60.65
 103.2       ]
column: TotalCharges - unique value: [29.850000381469727 1889.5 108.1500015258789 ... '346.45' '306.6' '6844.5']
column: Churn - unique value: [False True None 'No' 'Yes']

# Markdown

In [25]:
# Replacing True with 'Yes' and replacing False, 'None', 'No internet service' and 'No phone service' with 'No'
# in the train dataset.

train_data = train_data.replace({
    True: 'Yes',
    False: 'No',
    None: 'No',
    'No internet service': 'No',
    'No phone service': 'No'
}, inplace = False)

In [26]:
# Confirming that the changes have been effected.

train_data.columns
for column in train_data.columns:
    print('column: {} - unique value: {}'.format(column, train_data[column].unique()))

column: customerID - unique value: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
column: gender - unique value: ['Female' 'Male']
column: SeniorCitizen - unique value: ['No' 'Yes']
column: Partner - unique value: ['Yes' 'No']
column: Dependents - unique value: ['No' 'Yes']
column: tenure - unique value: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
column: PhoneService - unique value: ['No' 'Yes']
column: MultipleLines - unique value: ['No' 'Yes']
column: InternetService - unique value: ['DSL' 'Fiber optic' 'No']
column: OnlineSecurity - unique value: ['No' 'Yes']
column: OnlineBackup - unique value: ['Yes' 'No']
column: DeviceProtection - unique value: ['No' 'Yes']
column: TechSupport - unique value: ['No' 'Yes']
column: StreamingTV - unique value: ['No' 'Yes']
column: StreamingMovies - unique value: ['No' 'Yes']
column: Contract - unique value: ['Month-to-month' 'One year' 'Two year']
column: PaperlessBilling - unique value: ['Yes' 'No']
column: PaymentMethod - unique value: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
column: MonthlyCharges - unique value: [ 29.85000038  56.95000076  53.84999847 ...  78.7         60.65
 103.2       ]
column: TotalCharges - unique value: [29.850000381469727 1889.5 108.1500015258789 ... '346.45' '306.6' '6844.5']
column: Churn - unique value: ['No' 'Yes']

In [27]:
# Checking for missing values.

train_data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

# Markdown

In [28]:
# Investigating the columns on the test dataset.

test_data.columns
for column in test_data.columns:
    print('column: {} - unique value: {}'.format(column, test_data[column].unique()))

column: customerID - unique value: ['7613-LLQFO' '4568-TTZRT' '9513-DXHDA' ... '4816-JBHOV' '8920-NAVAY'
 '1699-TLDLZ']
column: gender - unique value: ['Male' 'Female']
column: SeniorCitizen - unique value: [0 1]
column: Partner - unique value: ['No' 'Yes']
column: Dependents - unique value: ['No' 'Yes']
column: tenure - unique value: [12  9 27  1 24 14 32 11 38 54 29 44 59  3 18 67 22 33  5  2 72 16  8 23
 50 17 68 25 71 46 48 61 37 65 49 64 21 10  6 51 47 52 35 45  4 60 28 39
 30 55 58 26 43 56 36 13 70 69 41 15 19 31 34 66 40  7 53 63 42  0 57 62
 20]
column: PhoneService - unique value: ['Yes' 'No']
column: MultipleLines - unique value: ['Yes' 'No' 'No phone service']
column: InternetService - unique value: ['Fiber optic' 'No' 'DSL']
column: OnlineSecurity - unique value: ['No' 'No internet service' 'Yes']
column: OnlineBackup - unique value: ['No' 'No internet service' 'Yes']
column: DeviceProtection - unique value: ['No' 'No internet service' 'Yes']
column: TechSupport - unique value: ['No' 'No internet service' 'Yes']
column: StreamingTV - unique value: ['Yes' 'No internet service' 'No']
column: StreamingMovies - unique value: ['No' 'No internet service' 'Yes']
column: Contract - unique value: ['Month-to-month' 'One year' 'Two year']
column: PaperlessBilling - unique value: ['Yes' 'No']
column: PaymentMethod - unique value: ['Electronic check' 'Mailed check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
column: MonthlyCharges - unique value: [ 84.45  20.4   81.7   79.5   89.15  20.3   74.95  74.4   20.    25.
  80.45  19.75  65.65  71.    89.2   86.75  55.3   61.5   25.1   55.15
  34.05  19.95  89.7   26.3   84.95  20.7   43.25  48.35  79.55  71.05
  19.45 110.8   84.5   69.3   49.35  20.35 105.6   64.45 108.6   49.9
  30.3   30.4   45.4  103.3   84.15  44.45  85.4   89.9   55.05 104.1
 106.6   75.2   70.5   19.6   55.85  24.05  38.1  106.4   34.25 100.05
  68.65  45.8   75.75  84.4   96.4   20.55  50.95  90.5   79.4   58.75
  59.45 105.7   56.25  53.3   85.55  24.3   77.85  59.9   23.95  20.15
 105.35  95.65  87.05  81.    82.45  53.5   20.5   54.4   58.6   84.8
  61.4   79.65  94.45  79.8   54.2   74.05  49.15  19.4  113.65 106.
  25.95  19.1  103.4  100.55  95.4   75.15 107.9   19.5   85.95  24.95
  59.4   69.95  82.85  19.    38.85  30.6   95.    78.45  74.3   51.05
  19.2   99.55  70.   109.1   45.3   29.85  76.45  95.1   19.8   72.8
  18.95  76.65  99.15 101.75  75.45  64.1   25.65  75.1   95.85  72.75
  19.85  19.05  44.95  49.55  94.85  46.25  19.35  69.6   90.7  101.4
  20.25  48.8   74.35  68.75 100.2   20.85  95.9   45.    81.5   25.5
  48.9   84.1   81.3   95.2   36.45  83.3   25.05  89.85  49.85  54.65
  29.35  19.15  55.55  80.55  69.5  104.3   79.6   55.25  88.05 117.6
  19.65  70.55  93.85  65.8   20.05  80.    35.4   80.25  50.45  20.45
  24.7   77.3   29.75  44.9   29.8   74.65  71.95  20.75  56.3  105.25
  94.2   19.55  53.65  29.9   19.7   43.7   49.45 106.55  20.1   39.7
  54.5   83.8  111.6   86.65 106.75  62.1  104.5  101.8  110.6   84.9
  93.2   24.4   85.    87.45  85.8   91.1   70.75  74.8   24.8  100.85
 101.35  68.25 105.1   79.15  57.2   94.8  102.5   69.2   95.45 100.95
  88.5   35.    64.    69.1   80.2   49.3   84.35 117.2  103.45  77.95
 109.95  94.75  25.2   19.9   44.8   80.05 107.35  47.85  70.8   29.5
  59.1   25.55  75.55  85.65  70.15  95.3   70.25  50.3   97.8   46.3
 106.3   75.35  89.4   88.    83.15  43.8   62.05  74.15  84.05  20.9
 105.9   99.5   44.15  53.9   85.45  85.05  44.1   90.2   50.85  59.2
  53.45  83.2   54.9   57.5  103.9   93.8   89.25  94.15  55.6   48.7
  19.25 104.9   54.85  19.3   79.85  75.5   73.75  96.05  68.4   20.65
  70.6  107.6   61.55  99.25  91.7  100.7   84.3   88.95  86.8   20.95
  50.7   53.4  101.9   59.5   87.8   41.9   83.    69.85 109.55  92.15
  97.    58.35  50.6   89.5   70.4   69.8   94.3   95.95 101.05 107.75
  54.6   71.3   94.7  104.15  90.55  60.8   98.8   98.15  35.35 103.15
  81.4   61.45  95.7  104.8   70.95  97.65  35.65  85.25  88.8   55.7
  85.2   91.15  83.85  45.9   91.4   91.5   51.3   21.1  104.75 106.15
  85.75 100.75  78.55  77.8   83.45  73.25  90.1   29.2   46.6   85.35
  54.   104.25  84.75  75.25  24.6   55.5   43.3  109.5   84.85 112.1
  95.05  50.35  74.6   74.2   69.   105.2  109.2   45.15 108.65  40.65
  55.35  90.05  68.05  96.2  102.1   23.4   92.2   43.9   80.5   89.8
  90.45  50.75  84.6   89.65  51.7   23.3   65.4   65.1   81.2   72.9
  74.5   60.3   75.    90.15  40.    99.45  69.05  59.7   86.25  45.65
  70.1   40.75  70.2   84.2   66.15  45.85  49.8  103.95 100.15  99.65
  73.7   50.05  60.25 105.75  87.3   54.25  85.3   50.    90.95  72.25
  96.1   25.15  71.25 113.8   24.55  50.15 100.5   74.45  81.9   69.7
  25.35  24.65  25.25  60.    24.1  109.9   35.5   87.55  88.4   50.8
  99.    96.55  59.75 111.5   24.25  30.55 101.   100.    98.05  71.15
  54.15  63.9   69.15  64.65 108.75  98.85  89.6   83.25  24.5   73.
  80.4   78.5  102.    48.95  18.25  54.55  89.05  96.6   77.15  35.05
 108.1   20.2   49.2   71.65 106.5   94.25  68.95  58.5   78.9   79.2
 109.45  29.15  76.05  24.45  66.5   89.35  73.6   82.65  49.    80.35
  25.45  55.8  110.9   77.75  26.2   79.05  80.85  98.4   56.35  50.4
 109.75  91.25  54.75  81.45  49.1  100.3   65.25  94.1   73.55 104.65
  44.55  54.45 105.    88.7   74.25  30.75 112.9   94.05  78.85  78.65
  74.75 105.65  96.5   70.85  73.9   45.45 109.65  65.   114.1   86.95
 105.45  25.4  102.55  24.    25.6   73.5   98.25 101.55 103.1   34.2
  43.75 111.95 100.65  55.95 116.05  45.75  82.    65.15  88.85 106.85
  80.15 109.25  56.1  118.6   24.15 115.5  111.3   80.6   20.8   35.2
  78.8   89.95  49.4  115.25  81.25  93.55  86.4   66.3   94.65  82.05
  72.1   34.7  109.4   40.25  42.9   44.    88.9   57.65 108.05 105.3
 102.6   73.85  61.35  57.55  29.25  84.55 111.75 107.7   63.7   24.75
  50.9   60.4   79.25 110.1   25.3   24.35  76.5   81.15  38.5   92.9
  93.5   84.7   66.   101.5   74.9   99.75  67.8   25.7   56.15  86.7
  50.55  54.35  45.35  59.    69.45  64.95  18.85 114.3   45.05  51.
 110.45  84.65  60.05  44.65  93.25  20.6   34.8   60.75  51.35  64.05
  94.6  100.25  98.9   97.7   40.3   46.2   24.9   65.7   63.35  50.1
  74.    38.9   65.45  98.7   99.35  95.8   67.5   78.15  26.1   78.05
  40.35  68.9   76.    82.3   29.45  59.15  44.75  90.8  106.7   67.95
  77.4   99.7   78.95  95.55  62.85  71.55  94.95  86.1   39.3   36.25
  23.9   98.6  103.65  99.9   39.85  60.5  103.85  24.85  89.    55.
  76.15 117.35  45.2   89.75  49.95  67.05  87.95  75.7   62.15 101.25
 115.15  86.55  28.6   56.4   73.3   98.65  33.6   79.9  104.05  70.05
  23.05  59.95  78.6  116.8   43.55  65.2  102.95  90.6  108.2   92.
 112.2   70.3   75.85  80.65  68.5  115.75  59.55  36.1   94.    61.15
 110.2  106.35  65.9   52.5   88.75  75.3   26.    99.4   73.15  66.4
 115.55 104.45  92.4   25.75  49.6   97.05 105.95  91.85  40.1  110.3
  85.15  60.95  46.    58.55  86.35  69.75  65.6   82.1   79.1   90.65
 110.    67.45  89.1   69.9   51.1   94.4   78.25  76.4   48.65  59.85
  80.3   91.8   18.8   64.75  89.45  85.6   54.1   80.9   90.85  48.75
  79.7  100.4   57.95  86.5   62.45  89.55  83.55  71.45  46.35  66.1
  75.4   70.45  21.05  69.35  40.55  75.65  60.6  101.15  98.   104.7
  93.9   86.45  98.5   78.2   88.45  69.55  83.75  98.1   53.35  69.4
  40.15  70.35  53.85 115.6   97.95  78.3   96.8   77.35  66.05  68.15
  92.45  45.55  93.4   88.15  79.35  79.75 105.15  79.3  105.5   92.7
  26.25  96.95 115.8   67.75  90.35  55.75 114.6   66.8  104.85  74.1
 118.75  85.9  101.3   21.2   24.2  102.8   99.95 115.85  35.1   99.1
  67.25  55.1  117.8   45.25  95.35 116.6   65.05  92.5   18.75  93.6
 104.4   70.7  108.95  26.45  86.2   51.2   75.8   36.15  61.2   99.85
  58.4   88.3  108.9  107.4  106.65 104.35  55.45  61.3   96.85 108.25
 105.05  66.9  110.7   38.25  54.95  79.    39.1  100.45  39.55  23.15
  72.45  60.1   91.55  35.8  113.15  53.95  99.3   51.55  78.75  54.7
  71.1  106.25 114.05 116.15  66.25  99.8   90.    54.05  97.25  83.05
  41.1   74.55  40.2   78.35 109.7   33.45  39.4   76.25  46.4   59.6
 108.5   58.95  63.05  64.4   83.9  117.45  59.05  76.55  62.5   29.4
  94.9  111.65 106.05 113.45  92.55  49.7   30.2   85.7   74.7  107.55
  23.85  76.1   39.2   39.15  59.8   49.75  35.75  60.15  84.   110.75
  76.35  18.9   98.35  91.65  44.35  47.95  63.6   53.    36.85 103.75
  56.75  59.65  45.5  106.45  30.05  44.7 ]
column: TotalCharges - unique value: [1059.55 181.8 2212.55 ... 552.95 7053.35 301.55]

# Markdown

In [29]:
# Replacing 1 with 'Yes' and replacing 0, 'No internet service' and 'No phone service' with 'No' in the test dataset.

test_data = test_data.replace({
    1: 'Yes',
    0: 'No',
    'No internet service': 'No',
    'No phone service': 'No'
}, inplace = False)

In [30]:
# Confirming that the changes have been effected.

test_data.columns
for column in test_data.columns:
    print('column: {} - unique value: {}'.format(column, test_data[column].unique()))

column: customerID - unique value: ['7613-LLQFO' '4568-TTZRT' '9513-DXHDA' ... '4816-JBHOV' '8920-NAVAY'
 '1699-TLDLZ']
column: gender - unique value: ['Male' 'Female']
column: SeniorCitizen - unique value: ['No' 'Yes']
column: Partner - unique value: ['No' 'Yes']
column: Dependents - unique value: ['No' 'Yes']
column: tenure - unique value: [12 9 27 'Yes' 24 14 32 11 38 54 29 44 59 3 18 67 22 33 5 2 72 16 8 23 50
 17 68 25 71 46 48 61 37 65 49 64 21 10 6 51 47 52 35 45 4 60 28 39 30 55
 58 26 43 56 36 13 70 69 41 15 19 31 34 66 40 7 53 63 42 'No' 57 62 20]
column: PhoneService - unique value: ['Yes' 'No']
column: MultipleLines - unique value: ['Yes' 'No']
column: InternetService - unique value: ['Fiber optic' 'No' 'DSL']
column: OnlineSecurity - unique value: ['No' 'Yes']
column: OnlineBackup - unique value: ['No' 'Yes']
column: DeviceProtection - unique value: ['No' 'Yes']
column: TechSupport - unique value: ['No' 'Yes']
column: StreamingTV - unique value: ['Yes' 'No']
column: StreamingMovies - unique value: ['No' 'Yes']
column: Contract - unique value: ['Month-to-month' 'One year' 'Two year']
column: PaperlessBilling - unique value: ['Yes' 'No']
column: PaymentMethod - unique value: ['Electronic check' 'Mailed check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
column: MonthlyCharges - unique value: [ 84.45  20.4   81.7   79.5   89.15  20.3   74.95  74.4   20.    25.
  80.45  19.75  65.65  71.    89.2   86.75  55.3   61.5   25.1   55.15
  34.05  19.95  89.7   26.3   84.95  20.7   43.25  48.35  79.55  71.05
  19.45 110.8   84.5   69.3   49.35  20.35 105.6   64.45 108.6   49.9
  30.3   30.4   45.4  103.3   84.15  44.45  85.4   89.9   55.05 104.1
 106.6   75.2   70.5   19.6   55.85  24.05  38.1  106.4   34.25 100.05
  68.65  45.8   75.75  84.4   96.4   20.55  50.95  90.5   79.4   58.75
  59.45 105.7   56.25  53.3   85.55  24.3   77.85  59.9   23.95  20.15
 105.35  95.65  87.05  81.    82.45  53.5   20.5   54.4   58.6   84.8
  61.4   79.65  94.45  79.8   54.2   74.05  49.15  19.4  113.65 106.
  25.95  19.1  103.4  100.55  95.4   75.15 107.9   19.5   85.95  24.95
  59.4   69.95  82.85  19.    38.85  30.6   95.    78.45  74.3   51.05
  19.2   99.55  70.   109.1   45.3   29.85  76.45  95.1   19.8   72.8
  18.95  76.65  99.15 101.75  75.45  64.1   25.65  75.1   95.85  72.75
  19.85  19.05  44.95  49.55  94.85  46.25  19.35  69.6   90.7  101.4
  20.25  48.8   74.35  68.75 100.2   20.85  95.9   45.    81.5   25.5
  48.9   84.1   81.3   95.2   36.45  83.3   25.05  89.85  49.85  54.65
  29.35  19.15  55.55  80.55  69.5  104.3   79.6   55.25  88.05 117.6
  19.65  70.55  93.85  65.8   20.05  80.    35.4   80.25  50.45  20.45
  24.7   77.3   29.75  44.9   29.8   74.65  71.95  20.75  56.3  105.25
  94.2   19.55  53.65  29.9   19.7   43.7   49.45 106.55  20.1   39.7
  54.5   83.8  111.6   86.65 106.75  62.1  104.5  101.8  110.6   84.9
  93.2   24.4   85.    87.45  85.8   91.1   70.75  74.8   24.8  100.85
 101.35  68.25 105.1   79.15  57.2   94.8  102.5   69.2   95.45 100.95
  88.5   35.    64.    69.1   80.2   49.3   84.35 117.2  103.45  77.95
 109.95  94.75  25.2   19.9   44.8   80.05 107.35  47.85  70.8   29.5
  59.1   25.55  75.55  85.65  70.15  95.3   70.25  50.3   97.8   46.3
 106.3   75.35  89.4   88.    83.15  43.8   62.05  74.15  84.05  20.9
 105.9   99.5   44.15  53.9   85.45  85.05  44.1   90.2   50.85  59.2
  53.45  83.2   54.9   57.5  103.9   93.8   89.25  94.15  55.6   48.7
  19.25 104.9   54.85  19.3   79.85  75.5   73.75  96.05  68.4   20.65
  70.6  107.6   61.55  99.25  91.7  100.7   84.3   88.95  86.8   20.95
  50.7   53.4  101.9   59.5   87.8   41.9   83.    69.85 109.55  92.15
  97.    58.35  50.6   89.5   70.4   69.8   94.3   95.95 101.05 107.75
  54.6   71.3   94.7  104.15  90.55  60.8   98.8   98.15  35.35 103.15
  81.4   61.45  95.7  104.8   70.95  97.65  35.65  85.25  88.8   55.7
  85.2   91.15  83.85  45.9   91.4   91.5   51.3   21.1  104.75 106.15
  85.75 100.75  78.55  77.8   83.45  73.25  90.1   29.2   46.6   85.35
  54.   104.25  84.75  75.25  24.6   55.5   43.3  109.5   84.85 112.1
  95.05  50.35  74.6   74.2   69.   105.2  109.2   45.15 108.65  40.65
  55.35  90.05  68.05  96.2  102.1   23.4   92.2   43.9   80.5   89.8
  90.45  50.75  84.6   89.65  51.7   23.3   65.4   65.1   81.2   72.9
  74.5   60.3   75.    90.15  40.    99.45  69.05  59.7   86.25  45.65
  70.1   40.75  70.2   84.2   66.15  45.85  49.8  103.95 100.15  99.65
  73.7   50.05  60.25 105.75  87.3   54.25  85.3   50.    90.95  72.25
  96.1   25.15  71.25 113.8   24.55  50.15 100.5   74.45  81.9   69.7
  25.35  24.65  25.25  60.    24.1  109.9   35.5   87.55  88.4   50.8
  99.    96.55  59.75 111.5   24.25  30.55 101.   100.    98.05  71.15
  54.15  63.9   69.15  64.65 108.75  98.85  89.6   83.25  24.5   73.
  80.4   78.5  102.    48.95  18.25  54.55  89.05  96.6   77.15  35.05
 108.1   20.2   49.2   71.65 106.5   94.25  68.95  58.5   78.9   79.2
 109.45  29.15  76.05  24.45  66.5   89.35  73.6   82.65  49.    80.35
  25.45  55.8  110.9   77.75  26.2   79.05  80.85  98.4   56.35  50.4
 109.75  91.25  54.75  81.45  49.1  100.3   65.25  94.1   73.55 104.65
  44.55  54.45 105.    88.7   74.25  30.75 112.9   94.05  78.85  78.65
  74.75 105.65  96.5   70.85  73.9   45.45 109.65  65.   114.1   86.95
 105.45  25.4  102.55  24.    25.6   73.5   98.25 101.55 103.1   34.2
  43.75 111.95 100.65  55.95 116.05  45.75  82.    65.15  88.85 106.85
  80.15 109.25  56.1  118.6   24.15 115.5  111.3   80.6   20.8   35.2
  78.8   89.95  49.4  115.25  81.25  93.55  86.4   66.3   94.65  82.05
  72.1   34.7  109.4   40.25  42.9   44.    88.9   57.65 108.05 105.3
 102.6   73.85  61.35  57.55  29.25  84.55 111.75 107.7   63.7   24.75
  50.9   60.4   79.25 110.1   25.3   24.35  76.5   81.15  38.5   92.9
  93.5   84.7   66.   101.5   74.9   99.75  67.8   25.7   56.15  86.7
  50.55  54.35  45.35  59.    69.45  64.95  18.85 114.3   45.05  51.
 110.45  84.65  60.05  44.65  93.25  20.6   34.8   60.75  51.35  64.05
  94.6  100.25  98.9   97.7   40.3   46.2   24.9   65.7   63.35  50.1
  74.    38.9   65.45  98.7   99.35  95.8   67.5   78.15  26.1   78.05
  40.35  68.9   76.    82.3   29.45  59.15  44.75  90.8  106.7   67.95
  77.4   99.7   78.95  95.55  62.85  71.55  94.95  86.1   39.3   36.25
  23.9   98.6  103.65  99.9   39.85  60.5  103.85  24.85  89.    55.
  76.15 117.35  45.2   89.75  49.95  67.05  87.95  75.7   62.15 101.25
 115.15  86.55  28.6   56.4   73.3   98.65  33.6   79.9  104.05  70.05
  23.05  59.95  78.6  116.8   43.55  65.2  102.95  90.6  108.2   92.
 112.2   70.3   75.85  80.65  68.5  115.75  59.55  36.1   94.    61.15
 110.2  106.35  65.9   52.5   88.75  75.3   26.    99.4   73.15  66.4
 115.55 104.45  92.4   25.75  49.6   97.05 105.95  91.85  40.1  110.3
  85.15  60.95  46.    58.55  86.35  69.75  65.6   82.1   79.1   90.65
 110.    67.45  89.1   69.9   51.1   94.4   78.25  76.4   48.65  59.85
  80.3   91.8   18.8   64.75  89.45  85.6   54.1   80.9   90.85  48.75
  79.7  100.4   57.95  86.5   62.45  89.55  83.55  71.45  46.35  66.1
  75.4   70.45  21.05  69.35  40.55  75.65  60.6  101.15  98.   104.7
  93.9   86.45  98.5   78.2   88.45  69.55  83.75  98.1   53.35  69.4
  40.15  70.35  53.85 115.6   97.95  78.3   96.8   77.35  66.05  68.15
  92.45  45.55  93.4   88.15  79.35  79.75 105.15  79.3  105.5   92.7
  26.25  96.95 115.8   67.75  90.35  55.75 114.6   66.8  104.85  74.1
 118.75  85.9  101.3   21.2   24.2  102.8   99.95 115.85  35.1   99.1
  67.25  55.1  117.8   45.25  95.35 116.6   65.05  92.5   18.75  93.6
 104.4   70.7  108.95  26.45  86.2   51.2   75.8   36.15  61.2   99.85
  58.4   88.3  108.9  107.4  106.65 104.35  55.45  61.3   96.85 108.25
 105.05  66.9  110.7   38.25  54.95  79.    39.1  100.45  39.55  23.15
  72.45  60.1   91.55  35.8  113.15  53.95  99.3   51.55  78.75  54.7
  71.1  106.25 114.05 116.15  66.25  99.8   90.    54.05  97.25  83.05
  41.1   74.55  40.2   78.35 109.7   33.45  39.4   76.25  46.4   59.6
 108.5   58.95  63.05  64.4   83.9  117.45  59.05  76.55  62.5   29.4
  94.9  111.65 106.05 113.45  92.55  49.7   30.2   85.7   74.7  107.55
  23.85  76.1   39.2   39.15  59.8   49.75  35.75  60.15  84.   110.75
  76.35  18.9   98.35  91.65  44.35  47.95  63.6   53.    36.85 103.75
  56.75  59.65  45.5  106.45  30.05  44.7 ]
column: TotalCharges - unique value: [1059.55 181.8 2212.55 ... 552.95 7053.35 301.55]

In [31]:
# Checking for missing values.

test_data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

# Markdown

Total Charges